@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@font-face {
  font-family: 'Rancho';
  src: url("../../fonts/Rancho-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Petrona';
  src: url("../../fonts/Petrona-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Rowdies';
  src: url("../../fonts/Rowdies-Regular.ttf");
  font-weight: normal;
}
$header_color: #36CFAB;
$search_color: #40B196;
$search_color_light: #84DEB8;
$button_color: #058B63;
$button_color_light: #03ab79;
$remove_color: #a80909;
$remove_color_light: #db0909;
$error_color: #c15c5c;
$button_special_color: #e0d101;
$button_special_color_light: #f0e006;
$button_edit_color: #e28f01;
$button_edit_color_dark: #c67d00;
$accept_color: #21d503;
$button_like_color: #34C34B;
$button_like_color_dark: #2ba13e;
$button_fav_color: #FAFF05;
$button_fav_color_dark: #d8dd06;
$content_element_color: #AFE7DD;
$content_element_color_dark: #7dc7ba;

body {
  margin: 0;
  font-family: Roboto;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

.row-wrap {
  flex-wrap: wrap;
}
.justify-flex-start {
  justify-content: flex-start;
}

//////////////////////////////////////NAWIGACJA/////////////////////////////////////////////////////////////////////

nav {
  display: flex;
  flex-direction: column;
  position: relative;
  //position: fixed;
  //width: 100%;
  //z-index: 5;
}

.nav__barElements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $header_color;
  padding: 5px 10px;
}
.nav__username {
  display: none;
  visibility: hidden;
  align-self: flex-start;
  padding: 10px;
  background-color: $header_color;
  font-size: 2.4em;
  color: white;
  border-radius: 0 0 25px 0;
  position: absolute;
  top: 100%;
  z-index: 2;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

nav:hover .nav__username {
  visibility:visible;
  display: flex;
}


.nav__name {
  & a {
    font-family: Rancho;
    font-size: 5.5vh;
    text-decoration: none;
    color: white;
  }
}

.nav__menu {
  display: flex;
  flex-direction: row;
  position: relative;
}


.nav__list {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  right: 0;
}

.nav__list--none {
  display: none;
}

.nav__list__button {
  background-color: $button_color;
  display: inline-block;
  border-radius: 60px;
  border: none;
  width: 170px;
  height: 170px;
  margin: 0 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav__list__button--user {
  background-image: url("../../img/user icon.png");
}

.nav__list__button--plus {
  background-image: url("../../img/plus icon.png");
}

.nav__list__button--fav {
  background-color: white;
  background-image: url("../../img/star icon.png");
}

.nav__list__button--menu {
  background-image: url("../../img/menu icon.png");
}
//++++++++++++++++++++++++++++++++++++++++++++++++NAWIGACJA na większych ekranach+++++++++++++++++++++++++++++
@media only screen and (min-width: 1200px) {
  .nav__list--none {
    display: flex;
  }
  .nav__list__button {
    width: 45px;
    height: 45px;
    border-radius: 15px;
  }
  .nav__username {
    font-size: 1.4em;
  }
}

////////////////////////////////////////////////////SEARCH FORM//////////////////////////////////////////////////

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $search_color;
  margin-top: 50px;
}

.search__form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 80%;
  .search__form__searchbar {
    display: flex;
    flex-wrap: nowrap;

    input[type=text] {
      border: none;
      border-bottom: 1px solid $button_color;
      outline: none;
      padding: 2px;
      font-size: 3em;
      line-height: 2em;
      width: 80%;
    }

    & input[type=submit] {
      width: 20%;
      background-image: url("../../img/search icon.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: $button_color;
      color: white;
      border: 0;
    }
    & input[type=submit]:hover {
      background-color: $button_color_light;
    }
  }
}
.search__form__select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 120px;
  padding: 5px 0;
  select {
    position: relative;
    width: 80%;
    background-color: white;
    border: none;
    border-radius: 4px;
    //border-bottom: solid 3px $button_color;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    padding: 0.2em 0 0.2em 0.5em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  option:nth-child(2) {
    color: blue;
  }
  option:nth-child(2):checked {
    color: blue;
  }
  select:active {
    background-color: $search_color_light;
  }
}

.search__form__selects {
display: flex;
flex-direction: column;
}

.search__form__categories {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border: solid 2px $search_color_light;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  > .content__form__button {
    width: 100%;
  }
}
.search__form__select {
  > select {
    width: 100%;
  }
}
//++++++++++++++++++++++++++++++++++++++++++++++++SEARCH SECTION NA WIĘKSZYCH EKRANACH+++++++++++++++++++++++
@media only screen and (min-width: 1200px) {
  .search__form {
    width: auto;
    //flex-direction: row;
    //flex-wrap: wrap;
  }
  .search__form__selects {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .search__form .search__form__searchbar input[type=text] {
    font-size: 1.1em;
    width: 60%;
  }
  .search__form .search__form__searchbar input[type=submit] {
    width: 100px;
  }
  .search__form__categories {
    width: 500px;
    margin: 0px 0px 0px 10px;
  }
  .search__form .search__form__select {
    height: auto;
    min-height: 50px;
    select {
      width: 500px;
      font-size: 1.3em;
    }
  }

}
////////////////////////////////////////////////////CONTENT///////////////////////////////////////////////////////

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  //height: 100%;
  //padding-bottom: 400px;
  >h1 {
    font-size: 3em;
  }
}
.content__user {
  width: 80%;
  padding: 10px;
  background-color: $content_element_color;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  .justify-flex-start {
    justify-content: flex-start;
  }
  .row {
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    > span {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 2.0em;
      > b {
        padding-right: 15px;
      }
    }
  }
  .content__form__button {
    padding: 0 10px 0 10px;
  }

}
.content__user__logout {
  align-self: flex-end;
}

.content__elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.content__element {
  display: flex;
  flex-direction: row;
  background-color: $content_element_color;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px;
  width: 800px;
}
.content__main_element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  //padding: 0 20px 0 20px;
  width: 90%;
}
.content__main__element__text {
  font-size: 1.5em;
  white-space: wrap;
}
.content__main__element__list {
  font-size: 1.5em;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  li::before {
    content: "•";
    width: 2em;
    font-size: 1.8em;
    text-align: center;
    color: $search_color;
  }
}
.content__main__element__closing {
  align-self: flex-end;
}

.content__element__left {
  display: flex;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
  }
}

.content__element__right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.content__element__right__title {
  max-width: 100%;
  font-family: Petrona;
  font-size: 2em;
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content__element__right__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__element__right__data__part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 5px;

  img {
    width: 75px;
    height: 75px;
    padding-right: 10px;
  }
  font-size: 2.1em;
  font-weight: bold;
}

.content__element__status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  color: white;
  font-size: 2em;
}
.content__element__status--accepted {
  background-color: $button_like_color;
}
.content__element__status--toEdit {
  background-color: $button_edit_color;
}

.content__search-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 40px 20px 20px 20px;
  .content__search-counter__element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px $button_color;
    background-color: $search_color;
    font-family: Roboto;
    font-size: 3.2em;
    font-weight: bold;
    margin: 0 10px 0 10px;
    > a {
      color: white;
      text-decoration: none;
    }
  }
  .content__search-counter__element--current {
    background-color: $search_color_light;
  }
  .content__search-counter__element:hover {
    background-color: $button_color_light;
  }
}

.content__list {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px 0 30px 0;
  table {
    background-color: $content_element_color;
    padding: 10px;
    tr {
      flex-direction: row;
      th {
        //display: flex;
        text-align: justify;
        font-size: 1.7em;
      }
      td {
        border-bottom: 2px solid $button_color;
        font-size: 1.3em;
      }
      td:nth-child(3) {
        width: 10%;
        max-width: 100px;
      }
      th:nth-child(3) {
        visibility: hidden;
      }
    }
    tr:hover > td {
      background-color: $content_element_color_dark;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
//+++++++++++++++++++++++++++++++++++++++++++++++++CONTENT NA WIĘKSZYCH EKRANACH+++++++++++++++++++++++
@media only screen and (min-width: 1200px) {
  .content {
    > h1 {
      font-size: 1.6em;
    }
  }
  .content__element {
    width: 450px;
    margin: 5px;
    padding: 5px;
  }
  .content__elements {
    //width: 100%;
    //padding: 0 5% 0 5%;
    //justify-content: flex-start;
    //box-sizing: border-box;
  }
  .content__element__status {
    font-size: 1.4em;
  }

  .content__element__left {
    img {
      width: 150px;
      height: 150px;
    }
  }
  .content__element__right {
    width: 300px;
  }
  .content__element__right__title {
    font-size: 1.4em;
  }
  .content__element__right__data__part {
    font-size: 1.2em;
    padding: 5px 10px 2px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .content__search-counter .content__search-counter__element {
    font-size: 1.8em;
  }
  .content__main__element__text, .content__main__element__list {
    font-size: 1.3em;
  }

  .content__user {
    width: auto;
    h2 {
      font-size: 1.3em;
    }
    .row {
      span {
        font-size: 1.3em;
      }
      justify-content: flex-start;
    }
    .row:first-child {
      justify-content: space-between;
    }
  }
}

////////////////////////////////////////////////PRZEPIS////////////////////////////////////////////////////////////////////////

.content__recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  > .content__recipe__row:first-child {
    padding-top: 20px;
  }
}

.content__recipe__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.content__recipe__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-bottom: 10px;
}

.content__recipe__form {
  margin: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content__recipe__status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.content__recipe__status__list {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  > button {
    width: 100%;
  }
}

.content__recipe__button {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: $button_edit_color;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  img {
    width: 45px;
    height: 45px;
    padding-right: 8px;
  }
}
.content__recipe__button--remove {
    background-color: $remove_color;
}
.content__recipe__button:hover {
  background-color: $button_edit_color_dark;
}
.content__recipe__button--remove:hover {
    background-color: $remove_color_light;
}
.content__recipe__button--green {
  background-color: $button_color;
}

.content__recipe__element__desc {
  margin: 0;
  font-size: 2em;
  padding: 15px 0;
  align-self: flex-start;
}

.content__recipe__title {
  margin: 0;
  padding: 40px 0 15px;
  font-family: Petrona;
  font-size: 2.8em;
  text-align: center;
  width: 100%;
}

.content__recipe__author {
  margin: 0;
  font-family: Petrona;
  font-size: 2em;
  padding: 5px 0 30px;
  white-space: nowrap;
  color: grey;
}

.content__recipe__image {
  display: flex;
  width: 90%;
}

.content__recipe__buttons {
  display: flex;
  flex-direction: row;
  width: 90%;

  button, a {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    font-family: Rowdies;
    white-space: nowrap;
    padding: 5px 8px;
    border: none;
    text-decoration: none;

    span {
      display: flex;
      width: 70%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 30%;
      max-width: 150px;
      max-height: 150px;
    }
  }

  .content__recipe__button--like, .content__recipe__button--like--active:hover {
    color: white;
    background-color: $button_like_color;
  }

  .content__recipe__button--like:hover, .content__recipe__button--like--active {
    background-color: $button_like_color_dark;
  }


  .content__recipe__button--favourite, .content__recipe__button--favourite--active:hover {
    background-color: $button_fav_color;
    color: black;
  }

  .content__recipe__button--favourite:hover, .content__recipe__button--favourite--active {
    background-color: $button_fav_color_dark;
    color: black;
  }
}

.content__recipe__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.content__recipe__stats__element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 5px;

  img {
    width: 75px;
    height: 75px;
    padding-right: 10px;
  }
  font-size: 2em;
  font-weight: bold;
}

.content__recipe__h2 {
  white-space: nowrap;
  align-self: flex-start;
  font-size: 2.8em;
  margin: 0;
  padding: 20px 0;
}

.content__recipe__ingredientsTable {
  display: flex;
  font-size: 3em;
  width: 100%;

  td {
    padding: 5px;
    border-bottom: 2.5px solid $button_color;
  }

  td:nth-child(1) {
    width: 400px;
    border-right: 2.5px solid $button_color;
  }
}

.content__recipe__stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: $content_element_color;
  margin-bottom: 20px;

  h2 {
    font-size: 3em;
    margin: 0;
  }
}

.content__recipe__stage__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    width: 300px;
    height: 300px;
  }

  p {
    font-size: 2.2em;
    height: 100%;
    margin: 0;
  }
}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++PRZEPIS NA WIĘKSZYCH EKRANACH++++++++++++++++++++++++++++++++++
@media only screen and (min-width: 1200px) {
  .content__recipe__author {
    align-self: center;
  }
  .content__recipe__row:nth-child(1) {
    justify-content: flex-start;
  }
  form.content__recipe__element {
    width: auto;
  }
  .content__recipe__element {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content__recipe__element__desc {
    font-size: 1.3em;
    padding: 10px;
  }
  .content__recipe__h2 {
    font-size: 2em;
  }
  .content__recipe__stats__element {
    font-size: 1.3em;
    img {
      width: 2.5vw;
      height: 2.5vw;
    }
  }
  .content__recipe__image {
    max-height: 500px;
    width: 100%;
    max-width: 700px;
  }
  .content__recipe__buttons {
    width: 100%;
    max-width: 700px;
    button, a {
      font-size: 1.5em;
      img {
        max-width: 55px;
        max-height: 55px;
      }
    }
  }
  .content__recipe__button {
    font-size: 25px;
    > img {
      width: 30px;
      height: 30px;
    }
  }
  .content__recipe__ingredientsTable {
    font-size: 1.5em;
    td:nth-child(1) {
      width: auto;
      min-width: 250px;
      max-width: 400px;
    }
  }
  .content__recipe__stage {
    h2 {
      font-size: 1.5em;
    }
  }
  .content__recipe__stage__data {
    align-items: flex-start;
    p {
      font-size: 1.4em;
    }
    img {
      width: 200px;
      height: 200px;
    }
  }
}

////////////////////////////////////////////////FORMULARZ DODAWANIA PRZEPISU////////////////////////////////////////////////////
.content__form {
  width: 100%;
  background-color: $content_element_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 0;

  h1 {
    font-size: 3em;
  }
}

.content__form__input {
  position: relative;
  display: flex;
  width: 80%;
  padding: 20px 0;
  align-items: center;

  > img {
    width: 80px;
    height: 80px;
    padding-right: 10px;
  }

  > input {
    width: 100%;
    font-size: 45px;
    outline: none;
    outline-color: $button_color;
    padding: 5px;
  }

  > input:focus::placeholder,
  textarea:focus::placeholder {
    opacity: 0;
  }

  > textarea {
    width: 100%;
    font-size: 35px;
    height: 200px;
  }

  input[type="file"] {
    display: none;
  }
}

.content__form__inputsGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  > .content__form__input {
    width: 100%;
    margin-right: 15px;
  }
}

.form__label__forImage {
  border: 1px solid #ccc;
  background-color: $button_special_color;
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  padding: 15px;
  cursor: pointer;

  img {
    width: 35px;
    height: 35px;
    padding-right: 8px;
  }
}

.form__label__forImage:hover {
  background-color: $button_special_color_light;
}

.content__form__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0 10px;
}

.content__form__rating:not(:checked) > input {
  display: none;
}

.content__form__rating:not(:checked) > label {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  background-color: #ccc;
  width: 10%;
  height: 60px;
}

.content__form__rating > input:checked ~ label {
  background-color: #2bff00;
}

.content__form__rating:not(:checked) > label:hover,
.content__form__rating:not(:checked) > label:hover ~ label {
  background-color: #27de17;
}

.content__form__rating > input:checked + label:hover,
.content__form__rating > input:checked + label:hover ~ label,
.content__form__rating > input:checked ~ label:hover,
.content__form__rating > input:checked ~ label:hover ~ label,
.content__form__rating > label:hover ~ input:checked ~ label {
  background-color: #0cc608;
}

.content__form__uploadedMainImage {
  width: 50%;
  height: 400px;
  display: none;
}
#removeMainImage {
  display: none;
}

.content__form__inputImage {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  button {
    display: none;
  }
}

.content__form__button {
  position: relative;
  display: flex;
  //width: 80%;
  padding: 20px 0;

  > button, a {
    display: flex;
    align-items: center;
    //border: 1px solid #ccc;
    border: none;
    background-color: $button_color;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    img {
      width: 35px;
      height: 35px;
      padding-right: 8px;
    }
  }

  > button:hover, a:hover {
    background-color: $button_color_light;
  }
}
.content__form__button--yellow {
  > button, a {
    background-color: $button_edit_color;
  }
}
.content__form__button--yellow:hover {
  > button, a {
    background-color: $button_edit_color_dark;
  }
}
.content__form__button--red {
  > button, a {
    background-color: $remove_color;
  }
}
.content__form__button--red:hover {
  > button, a {
    background-color: $remove_color_light;
  }
}

.content__form__button--submit {
  justify-content: center;
}

.content__form__removeButton {
  border: 1px solid #ccc;
  background-color: $remove_color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  img {
    width: 35px;
    height: 35px;
  }
}

.content__form__removeButton:hover {
  background-color: $remove_color_light;
}

.content__form__dynamicInputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 30px;

  > h2 {
    font-size: 40px;
    margin: 0 0 5px;
  }
}

.content__form__stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 5px;

  > h2 {
    font-size: 40px;
    margin: 0 0 5px;
  }
}

.content__form__stage__inputs {
  display: flex;
  flex-direction: row;
  > textarea {
    flex-grow: 50;
    height: 200px;
    font-size: 30px;
    resize: vertical;
  }
}

.form__label__stage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: $button_special_color;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;

  img {
    width: 35px;
    height: 35px;
  }

  input[type="file"] {
    display: none;
  }
}

.form__label__stage--uploaded {
  background-color: $accept_color;
}

.content__form__ingredient {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;

  > button {
    margin-right: 20px;
  }

  > input {
    flex-grow: 3;
    font-size: 30px;
    padding: 5px;
    margin-right: 20px;
  }

  > input[name="skladnik_ilosc[]"] {
    max-width: 250px;
    margin: 0;
  }
}

.content__form__category {
  display: flex;
  flex-direction: row;
  padding: 5px 0;

  select {
    //width: 100%;
    min-width: 300px;
    background-color: white;
    border: none;
    //border-radius: 4px;
    display: inline-block;
    font: inherit;
    //font-size: 3em;
    font-size: 30px;
    //padding: 0.2em 3.2em 0.2em 0.5em;
    padding: 5px;
    margin-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select:focus {
    outline: none;
  }
}

.content__form__error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px 30px 10px;
  min-width: 90%;
  color: white;
  background-color: $error_color;
  border: 2px solid $remove_color;
  border-radius: 25px;
  font-weight: bold;
  font-size: 2em;
}

//++++++++++++++++++++++++++++++++++++++++++++CONTENT FORM NA WIĘKSZYCH EKRANACH+++++++++++++++++++++++++++++++++++++
@media only screen and (min-width: 1200px) {
  .content__form {
    align-items: flex-start;
    //align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
  }
  .content__form__button {
    padding: 10px 0;
    > button, a {
      font-size: 20px;
      padding: 10px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .content__form__button--submit {
    align-self: center;
  }
  .content__form__removeButton {
    img {
      width: 25px;
      height: 25px;
    }
  }
  .content__form h1 {
    font-size: 1.8em;
    //padding-left: 50px;
    align-self: center;
  }
  .content__form__uploadedMainImage {
    width: 300px;
    height: 250px;
  }
  .content__form__input  {
    > input {
      font-size: 18px;
    }
    > textarea {
      font-size: 18px;
    }
    > img {
      width: 50px;
      height: 50px;
    }
  }
  .content__form__rating {
    width: 80%;
  }

  .content__form__inputsGroup {
    flex-direction: row;
    //justify-content: space-around;
    width: 100%;
    > .content__form__input {
      margin-right: 15px;
      width: auto;
    }
    > .content__form__dynamicInputs:nth-child(1) {
      order: 2;
      margin-left: 30px;
    }
  }
  #ile_osob {
    width: 400px;
  }
  #czas_przygotowania {
      width: 400px;
  }
  .content__form__rating:not(:checked) > label {
    height: 45px;
  }
  .form__label__forImage {
    font-size: 25px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  .content__form__dynamicInputs {
    padding: 10px;
    border: 1px solid $button_color;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    > h2 {
      font-size: 1.6em;
    }
  }
  #stages {
    width: 90%;
  }
  .content__form__category {
    select {
      font-size: 18px;
    }
  }
  .content__form__ingredient {
    > input {
      font-size: 18px;
      flex-grow: 2;
    }
    > input[name="skladnik_ilosc[]"] {
      max-width: 150px;
    }
  }
  .content__form__stage {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    > h2 {
      font-size: 1.6em;
      width: 100%;
    }
  }
  .content__form__stage__inputs {
    width: 70%;
    > textarea {
      flex-grow: 50;
      height: 140px;
      font-size: 18px;
    }
    .content__form__removeButton {
      height: 140px;
    }
  }
  .content__form__inputImage {
    width: auto;
    align-items: flex-start;
  }
  .form__label__stage {
    height: 140px;
    padding: 0px 15px;
    >img {
      width: 25px;
      height: 25px;
    }
  }
  .content__form__error {
    align-self: center;
    min-width: 40%;
    font-size: 1.5em;
  }

}
@media only screen and (min-width: 1500px) {
  .content__form__input  {
    //width: 50%;
  }
  .content__form__stage {
    //width: 70%;
  }
}

/////////////////////////////////////////////FORMULARZ LOGOWANIA / REJESTRACJI ////////////////////////////////////////
.content__form--login {
  width: 80%;
  border: solid 2px $search_color;
  border-radius: 20px;
  margin: 60px 0 60px 0;
   .content__form__input {
    width: 90%;
  }
}
.content__form__link {
  display: flex;
  align-self: flex-start;
  padding: 20px;
  font-size: 2em;
}
.content__form__button--login {
  width: 80%;
  justify-content: flex-end;
}

.content__form__login__inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

//+++++++++++++++++++++++++++++++++++++++++++++++FORMULARZ LOGOWANIA NA WIĘKSZYCH EKRANACH+++++++++++++++++++++++++++++++++
@media only screen and (min-width: 1200px) {
  .content--flex-start {
    align-items: flex-start;
    padding: 0 20px 0 20px;
  }
  .content__form--login {
    margin-bottom: 500px;
    align-items: flex-start;
    padding-left: 50px;
      .content__form__input {
       width: 50%;
       //padding-left: 50px;
     }
  }
  .content__form__login__inputs {
    .content__form__input {
      input {
        margin-right: 15px;
      }

    }
  }
  .content__form__button--login {
    justify-content: flex-start;
  }
  .content__form__link {
    font-size: 1.5em;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $header_color;
  //margin-top: 200px;
}

.footer__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 20px;
}
