@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@font-face {
  font-family: 'Rancho';
  src: url("../../fonts/Rancho-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Petrona';
  src: url("../../fonts/Petrona-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Rowdies';
  src: url("../../fonts/Rowdies-Regular.ttf");
  font-weight: normal; }
body {
  margin: 0;
  font-family: Roboto; }

nav {
  background-color: #36CFAB;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.nav__name a {
  font-family: Rancho;
  font-size: 5.5vh;
  text-decoration: none;
  color: white; }

.nav__menu {
  display: flex;
  flex-direction: row;
  position: relative; }

.nav__list {
  display: none;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  right: 0; }

.nav__list__button {
  background-color: #058B63;
  display: inline-block;
  border-radius: 60px;
  border: none;
  width: 170px;
  height: 170px;
  margin: 0 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.nav__list__button--user {
  background-image: url("../../img/user icon.png"); }

.nav__list__button--plus {
  background-image: url("../../img/plus icon.png"); }

.nav__list__button--fav {
  background-color: white;
  background-image: url("../../img/star icon.png"); }

.nav__list__button--menu {
  background-image: url("../../img/menu icon.png"); }

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #40B196;
  margin-top: 50px; }

.search__form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 80%; }
  .search__form .search__form__select {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 120px;
    padding: 5px 0; }
    .search__form .search__form__select select {
      position: relative;
      width: 80%;
      background-color: white;
      border: none;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      font-size: 3em;
      padding: 0.2em 0 0.2em 0.5em;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .search__form .search__form__select option:nth-child(2) {
      color: blue; }
    .search__form .search__form__select option:nth-child(2):checked {
      color: blue; }
    .search__form .search__form__select select:active {
      background-color: #84DEB8; }
  .search__form .search__form__searchbar {
    display: flex;
    flex-wrap: nowrap; }
    .search__form .search__form__searchbar input[type=text] {
      border: none;
      border-bottom: 1px solid #058B63;
      outline: none;
      padding: 2px;
      font-size: 3em;
      line-height: 2em;
      width: 80%; }
    .search__form .search__form__searchbar input[type=submit] {
      width: 20%;
      background-image: url("../../img/search icon.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #058B63;
      color: white;
      border: 0; }
    .search__form .search__form__searchbar input[type=submit]:hover {
      background-color: #03ab79; }
  .search__form .search__form__categories {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    border: solid 2px #84DEB8;
    border-radius: 20px;
    margin: 10px 0 10px 0; }
    .search__form .search__form__categories > .content__form__button {
      width: 100%; }
    .search__form .search__form__categories > .search__form__select > select {
      width: 100%; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

.content__elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.content__element {
  display: flex;
  flex-direction: row;
  background-color: #AFE7DD;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px;
  width: 800px; }

.content__element__left {
  display: flex;
  align-items: center; }
  .content__element__left img {
    width: 200px;
    height: 200px; }

.content__element__right {
  display: flex;
  flex-direction: column;
  max-width: 70%; }

.content__element__right__title {
  max-width: 100%;
  font-family: Petrona;
  font-size: 2em;
  margin: 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
  font-weight: bold; }

.content__element__right__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.content__element__right__data__part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 5px;
  font-size: 2.1em;
  font-weight: bold; }
  .content__element__right__data__part img {
    width: 75px;
    height: 75px;
    padding-right: 10px; }

.content__search-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 40px 20px 20px 20px; }
  .content__search-counter .content__search-counter__element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px #058B63;
    background-color: #40B196;
    font-family: Roboto;
    font-size: 3.2em;
    font-weight: bold;
    margin: 0 10px 0 10px; }
    .content__search-counter .content__search-counter__element > a {
      color: white;
      text-decoration: none; }
  .content__search-counter .content__search-counter__element--current {
    background-color: #84DEB8; }
  .content__search-counter .content__search-counter__element:hover {
    background-color: #03ab79; }

.content__recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%; }
  .content__recipe > .content__recipe__row:first-child {
    padding-top: 20px; }

.content__recipe__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px; }

.content__recipe__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-bottom: 10px; }

.content__recipe__form {
  margin: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.content__recipe__button {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #e28f01;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  cursor: pointer; }
  .content__recipe__button img {
    width: 45px;
    height: 45px;
    padding-right: 8px; }

.content__recipe__button--remove {
  background-color: #a80909; }

.content__recipe__button:hover {
  background-color: #c67d00; }

.content__recipe__button--remove:hover {
  background-color: #db0909; }

.content__recipe__element__desc {
  margin: 0;
  font-size: 2em;
  padding: 15px 0;
  align-self: flex-start; }

.content__recipe__title {
  margin: 0;
  padding: 40px 0 15px;
  font-family: Petrona;
  font-size: 2.8em;
  text-align: center;
  width: 100%; }

.content__recipe__author {
  margin: 0;
  font-family: Petrona;
  font-size: 2em;
  padding: 5px 0 30px;
  white-space: nowrap;
  color: grey; }

.content__recipe__image {
  display: flex;
  width: 80%; }

.content__recipe__buttons {
  display: flex;
  flex-direction: row;
  width: 80%; }
  .content__recipe__buttons button {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    font-family: Rowdies;
    white-space: nowrap;
    padding: 5px 8px;
    border: none; }
    .content__recipe__buttons button span {
      display: flex;
      width: 70%;
      height: 100%;
      justify-content: center;
      align-items: center; }
    .content__recipe__buttons button img {
      width: 30%;
      max-width: 150px;
      max-height: 150px; }
  .content__recipe__buttons .content__recipe__button--like {
    color: white;
    background-color: #34C34B; }
  .content__recipe__buttons .content__recipe__button--like:hover {
    background-color: #2ba13e; }
  .content__recipe__buttons .content__recipe__button--favourite {
    background-color: #FAFF05; }
  .content__recipe__buttons .content__recipe__button--favourite:hover {
    background-color: #d8dd06; }

.content__recipe__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap; }

.content__recipe__stats__element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 5px;
  font-size: 2em;
  font-weight: bold; }
  .content__recipe__stats__element img {
    width: 75px;
    height: 75px;
    padding-right: 10px; }

.content__recipe__h2 {
  white-space: nowrap;
  align-self: flex-start;
  font-size: 2.8em;
  margin: 0;
  padding: 20px 0; }

.content__recipe__ingredientsTable {
  display: flex;
  font-size: 3em;
  width: 100%; }
  .content__recipe__ingredientsTable td {
    padding: 5px;
    border-bottom: 2.5px solid #058B63; }
  .content__recipe__ingredientsTable td:nth-child(1) {
    width: 400px;
    border-right: 2.5px solid #058B63; }

.content__recipe__stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: #AFE7DD;
  margin-bottom: 20px; }
  .content__recipe__stage h2 {
    font-size: 3em;
    margin: 0; }

.content__recipe__stage__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .content__recipe__stage__data img {
    width: 300px;
    height: 300px; }
  .content__recipe__stage__data p {
    font-size: 2.2em;
    height: 100%;
    margin: 0; }

@media only screen and (min-width: 1200px) {
  .content__recipe__author {
    align-self: center; }

  .content__recipe__row:nth-child(1) {
    justify-content: flex-start; }

  form.content__recipe__element {
    width: auto; }

  .content__recipe__element {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start; }

  .content__recipe__element__desc {
    font-size: 1.5em;
    padding: 10px; }

  .content__recipe__stats__element {
    font-size: 2vw; }
    .content__recipe__stats__element img {
      width: 3vw;
      height: 3vw; }

  .content__recipe__image {
    max-height: 500px;
    width: 100%;
    max-width: 800px; }

  .content__recipe__buttons {
    width: 100%;
    max-width: 800px; }
    .content__recipe__buttons button {
      font-size: 2em; }
      .content__recipe__buttons button img {
        max-width: 75px;
        max-height: 75px; }

  .content__recipe__ingredientsTable {
    font-size: 1.5em; }
    .content__recipe__ingredientsTable td:nth-child(1) {
      width: auto;
      min-width: 250px;
      max-width: 400px; }

  .content__recipe__stage h2 {
    font-size: 2em; }

  .content__recipe__stage__data {
    align-items: flex-start; }
    .content__recipe__stage__data p {
      font-size: 1.4em; }
    .content__recipe__stage__data img {
      width: 200px;
      height: 200px; } }
.content__form {
  width: 100%;
  background-color: #AFE7DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 0; }
  .content__form h1 {
    font-size: 3em; }

.content__form__input {
  position: relative;
  display: flex;
  width: 80%;
  padding: 20px 0;
  align-items: center; }
  .content__form__input > img {
    width: 80px;
    height: 80px;
    padding-right: 10px; }
  .content__form__input > input {
    width: 100%;
    font-size: 45px;
    outline: none;
    outline-color: #058B63;
    padding: 5px; }
  .content__form__input > input:focus::placeholder,
  .content__form__input textarea:focus::placeholder {
    opacity: 0; }
  .content__form__input > textarea {
    width: 100%;
    font-size: 35px;
    height: 200px; }
  .content__form__input input[type="file"] {
    display: none; }
  .content__form__input > .form__label__forImage {
    border: 1px solid #ccc;
    background-color: #e0d101;
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    padding: 15px;
    cursor: pointer; }
    .content__form__input > .form__label__forImage img {
      width: 35px;
      height: 35px;
      padding-right: 8px; }
  .content__form__input > .form__label__forImage:hover {
    background-color: #f0e006; }

.content__form__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0 10px; }

.content__form__rating:not(:checked) > input {
  display: none; }

.content__form__rating:not(:checked) > label {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  background-color: #ccc;
  width: 10%;
  height: 60px; }

.content__form__rating > input:checked ~ label {
  background-color: #2bff00; }

.content__form__rating:not(:checked) > label:hover,
.content__form__rating:not(:checked) > label:hover ~ label {
  background-color: #27de17; }

.content__form__rating > input:checked + label:hover,
.content__form__rating > input:checked + label:hover ~ label,
.content__form__rating > input:checked ~ label:hover,
.content__form__rating > input:checked ~ label:hover ~ label,
.content__form__rating > label:hover ~ input:checked ~ label {
  background-color: #0cc608; }

.content__form__uploadedMainImage {
  width: 50%;
  height: 400px;
  display: none; }

#removeMainImage {
  display: none; }

.content__form__inputImage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%; }
  .content__form__inputImage button {
    display: none; }

.content__form__button {
  position: relative;
  display: flex;
  width: 80%;
  padding: 20px 0; }
  .content__form__button > button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #058B63;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 15px;
    cursor: pointer; }
    .content__form__button > button img {
      width: 35px;
      height: 35px;
      padding-right: 8px; }
  .content__form__button > button:hover {
    background-color: #03ab79; }

.content__form__button--submit {
  justify-content: center; }

.content__form__removeButton {
  border: 1px solid #ccc;
  background-color: #a80909;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; }
  .content__form__removeButton img {
    width: 35px;
    height: 35px; }

.content__form__removeButton:hover {
  background-color: #db0909; }

.content__form__dynamicInputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 30px; }
  .content__form__dynamicInputs > h2 {
    font-size: 40px;
    margin: 0 0 5px; }

.content__form__stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 5px; }
  .content__form__stage > h2 {
    font-size: 40px;
    margin: 0 0 5px; }
  .content__form__stage .content__form__stage__inputs {
    display: flex;
    flex-direction: row; }
    .content__form__stage .content__form__stage__inputs > .form__label__stage {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      background-color: #e0d101;
      font-weight: bold;
      padding: 15px;
      cursor: pointer; }
      .content__form__stage .content__form__stage__inputs > .form__label__stage img {
        width: 35px;
        height: 35px; }
      .content__form__stage .content__form__stage__inputs > .form__label__stage input[type="file"] {
        display: none; }
    .content__form__stage .content__form__stage__inputs > .form__label__stage--uploaded {
      background-color: #21d503; }
    .content__form__stage .content__form__stage__inputs > textarea {
      flex-grow: 50;
      height: 200px;
      font-size: 30px;
      resize: vertical; }

.content__form__ingredient {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0; }
  .content__form__ingredient > button {
    margin-right: 20px; }
  .content__form__ingredient > input {
    flex-grow: 3;
    font-size: 30px;
    padding: 5px;
    margin-right: 20px; }
  .content__form__ingredient > input[name="skladnik_ilosc[]"] {
    max-width: 250px;
    margin: 0; }

.content__form__category {
  display: flex;
  flex-direction: row;
  padding: 5px 0; }
  .content__form__category select {
    min-width: 300px;
    background-color: white;
    border: none;
    display: inline-block;
    font: inherit;
    font-size: 30px;
    padding: 5px;
    margin-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .content__form__category select:focus {
    outline: none; }

.content__form--login {
  width: 80%;
  border: solid 2px #40B196;
  border-radius: 20px;
  margin: 60px 0 60px 0; }
  .content__form--login > .content__form__input {
    width: 90%; }

.content__form__link {
  display: flex;
  align-self: flex-start;
  padding: 20px;
  font-size: 2em; }

.content__form__button--login {
  justify-content: flex-end; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #36CFAB; }

.footer__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
